---
import "../assets/app.css";
import Calendar from "../components/Calendar.astro";
import { Ellipsis } from "@lucide/astro";

export interface Props {
	description?: string;
}

const { description = 'Seaview apartment in Xlendi, Gozo available for your next getaway. Sleeps up to 6, fully-equipped kitchen, close to the beach, restaurants and bars.' } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{import.meta.env.PUBLIC_SITE_NAME}</title>
		 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		crossorigin=""/>
	</head>
	<body>
		<div class="navbar shadow-sm">
			<div class="navbar-start">
				<a href={import.meta.env.BASE_URL} class="btn btn-ghost text-xl">{import.meta.env.PUBLIC_SITE_NAME}</a>
			</div>
			<div class="navbar-end">
				<li class="hidden"><Calendar /> </li>
				<ul class="menu menu-horizontal px-1 gap-x-3">
					<li class="hidden md:block"><a href="/about" class="btn btn-ghost">About the Property</a></li>
					<li class="hidden md:block"><a href="/contact" class="btn btn-ghost">Contact Your Hosts</a></li>
					
					<div class="dropdown dropdown-end md:hidden">
						<Ellipsis tabindex="0" role="button" class="btn btn-ghost" />
						
						<ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">

							<li class="hidden"><Calendar /> </li>
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</ul>
			</div>
		</div>
		<div class="container mx-auto px-4 py-8">
			<div class="prose">
				<slot />
			</div>
		</div>
	</body>
</html>
